:root {
    --primary-text-color: #757575;
    --logo-text-color: #2196F3;
    --logo-color: #000000;
    --background-color: #FFFFFF;
    --background-hero: #2F303A;
    --h1-color: #FFFFFF;
    --button-color:#2196F3;
    --black:#212121;
    --footer-background-color: #2F303A;
    --footer-conntacts:color: rgba(255, 255, 255, 0.6);
    --solid: #ECECEC;
    --buttons-color: #F5F4FA;
    --grey:#AFB1B8;
    --timing: 250ms;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }

.container-header{
    align-items: baseline;
    }

.header{
    border-bottom: 1px solid var(--solid);
    }

.header > .container{
    display: flex;
    align-items: center ;
    }

.logo{
    margin-right: 93px;
    }

ul{
    margin: 0px;
    padding: 0px;
    }    

li{
    margin: 0px;
    padding: 0px;
    }
    
.link-buttons{
    display: flex;
    }

.link-buttons>.item:not(:last-child){
    margin-right: 50px;
    }

.nav-link-contacts>.item:not(:last-child){
    margin-right: 30px;
    }

.our-classes{
    position: relative;
     display: flex;
     margin-top: 0px;
     margin-bottom: 0px;
    }

.our-classes > .flex-elememt{
    display: flex;
    align-items: center ;
    width: 380px;
    margin-right: 30px;
    }

.section-our-classes{
    padding-bottom: 94px;
    }

.our-team-pics{
    width: 270px;
    }

.link{
    position: relative;
    display: block;
    padding-top:32px;
    padding-bottom:32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-text-color);
    }

.link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    opacity: 0;
    background: var(--button-color);
    border-radius: 2px;
    transition-property: opacity;
    transition: opacity var(--timing) var(--timing-function);
    }

.link:focus::after,
.link:hover::after{
   opacity: 1;
    }

.link-underline::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    opacity: 1;
    background: var(--button-color);
    border-radius: 2px;
    }

.container>.types-of-works{
    display: flex;
    flex-wrap: wrap;
    }

.types-of-works>.flex-element{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--h1-color);
    box-sizing: border-box;
    }

.portfolio-block{
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
    }

.portfolio-block::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-link:focus .portfolio-block:before,
.portfolio-link:hover .portfolio-block:before  {
    transform: translateY(0%);
    }
    
.portfolio-block-text{
    position: absolute; 

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1,56;
    letter-spacing: 0.03em;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--h1-color);
    transform: translateY(0%);
    }
.portfolio-link:focus .portfolio-block-text,
.portfolio-link:hover .portfolio-block-text{
    position: absolute; 
    transform: translateY(-130%);
    transition-property: transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-link {
    width: 370px;
    height: 404px;
    border: 2px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-link:focus,
.portfolio-link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

.types-of-works>.flex-element:nth-last-child(-n+3){
    margin-bottom: 0px;
    }

.types-of-works>.flex-element:nth-child(3n){
    margin-right: 0px;
    }

.types-of-works> .portfolio-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    }

.flex-element > .portfolio-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    }

.nav-link-contacts:not(:last-child){
    margin-left: auto;
    margin-right: 15px;
    }

body{
    color:var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0px;
    box-sizing: border-box;
    }
   
.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--logo-text-color);
    margin-left:15px;  
    }

.logo-color{
    color:var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    }

.logo-color-footer{
    color:var(--h1-color);
    font-size: 26px;
    line-height: 1.19;
    }

.link-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    }

.link-mail-logo{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    }

.link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.link-tel{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    fill:currentColor
    }

.link-mail-logo{
    margin-right: 10px;
    fill: currentColor
    }

.link-mail-logo-tel{
     margin-right: 10px;   
    }

.link:focus,
.link:hover{
    color:var(--button-color);
    }

li{
    list-style-type: none; 
    }

h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--h1-color);
    margin-top: 0;
    margin-bottom: 0;
    }

h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 50px;
    }

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    color:var(--black);
    margin:0px;
    }

h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:var(--black);
    }

.names{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    }

.our-team-title{
    margin-bottom: 50px;
    }

.setcion-our-team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--buttons-color);
    }

.our-classes>.flex-element:not(:last-child){
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;  
    display: flex;
    }

.our-team{
    margin-top: 0;
    margin-bottom: 30px;  
    display: flex;
    }

.our-team:not(:last-child){
    margin-right: 30px;
    }

.button-standart{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    margin-right: 8px;
    margin-top: 0px;
    border: none;
    background-color:var(--buttons-color);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom:6px ;
    padding-left: 22px;
    padding-right: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }

.button-standart:focus,
.button-standart:hover{
    background-color: var(--logo-text-color);
    color:var(--h1-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

.buttons{
    margin-top: 0px;
    }

.link-buttons{
    margin-top: 0;
    margin-bottom: 0;  
    }

.container>.buttons{
    display: flex;

    width: 611px;
    
    margin-bottom: 34px; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    justify-content: space-between;
    border-radius:4px;
    }
 
.types-of-works{
    margin-top: 0;
    margin-bottom: 0;  
    }

 .portfolio-heading{
    text-transform: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    }

.portfolio-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    padding-top: 4px;
    margin: 0;
    }

.section-our-benefits{
    display: block;
    
    padding-bottom: 94px;
    padding-top: 94px;
    }

.container-our-benefits{
    display: block;
    }

.our-benefits{
    display: flex;
    }

.section-benefits-text{

    width: 270px;

    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 0px;
    }

.our-benefits-element{
    display: block;
    
    width: 270px;
    
    margin-right: 30px;
    }

.benefits-icons{
    width: 70px;
    height: 70px;
    
    background-color:var(--buttons-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px 25px 100px;
    }

.heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--black);
    width: 270px;
    margin-right: 0px;
    padding-right: 0px;
    }

.flex-element-benefits:not(:last-child){
    padding: 0px;
    }

.our-benefits-element:hover,
.our-benefits-element:focus{
    display: block;
    fill:var(--button-color);
    }

.our-team{
    display: flex;
    }

.our-team>.flex-element:not(:last-child){
    margin-right: 30px;
    }

.title-h2{
    color: var(--background-color);
    }

.button-blue{
    font-family: inherit;
    background:var(--button-color);
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    color:var(--h1-color);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;  
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.main-hero{
    width: 696px;

    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    }

.button-blue:focus,
.button-blue:hover{
    color: var(--logo-color);
    }

.section-our-team-text{
    font-size: 16px;
    line-height: 1.19;    
    color: var(--primary-text-color);
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    }

footer{
    background-color: var(--footer-background-color);
    }

address{
    display: block;

    color: var(--h1-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    margin-left: 15px;
    }

.names:focus{
    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    color:var(--background-color);
    fill:var(--background-color);
    background-color: var(--logo-text-color);
    color:black;
    }

a{
    display: block;
    
    color: var(--footer-conntacts);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    }

.button-main{

    width: 200px;
    height: 50px;

    border-radius: 4px;
    background-color:var(--button-color);
    color: var(--background-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;   
    }

.hidden-header{        
    position: absolute;

    visibility: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    color:var(--background-color);
    margin: 0px;
    padding: 0px;
    }

.logo-footer{
    display: inline-block;

    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 20px;
    }

.contacts-footer{
    padding-left: 15px;
    margin: 0;
    }

.footer-mail{
    display: inline-block;

    margin-top: 9px;
    margin-bottom: 9px;
    }

.contacts-footer{
    display: inline-block;
    }

.description{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    }

.categories-section{
    padding-top: 94px;
    padding-bottom: 94px;
    }

.our-classes > .flex-elememt{
    position: relative;
    
    width: 380px;
    
    display: flex;
    align-items: center;
    margin-right: 30px;
    }

.our-classes-overlay{
    position: absolute;

    width: 370px;
    height: 70px;

    bottom: 0;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
    }

.our-classes-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--h1-color);
    margin-top: 27px;
    }

.hero-section{
    height: 600px;

    background-color: var(--background-hero); 
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    }

.overlay{
background-image:linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/img_hero.jpg");
    }

.clients{
    margin-top: 94px;
    margin-bottom: 94px;
    }

.clients-top{
    display: flex;

    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    justify-content:center;
    list-style: none;
    }

.clients-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color:var(--black);
    }

.clients-logo{
    display: flex;

    width: 170px;
    height: 90px;

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-right: 30px;
    padding: 0px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    }

.clients-logo-class{
    display: flex;

    width: 170px;
    height: 90px;

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    border-radius: 4px;
    fill:var(--grey);
    border:1px solid var(--grey);
    transition-property: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.clients-logo-class:focus,
.clients-logo-class:hover{
    fill: var(--logo-text-color);
    border: 1px solid var(--logo-text-color);
    border-radius: 4px;
    }

.names-social-networks{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0;;
    padding: 0;
    margin-top: 16px;
    }

.names-icon-link{
    display: block;
    
    width: 20px;
    height: 20px;
    
    margin: 0;
    padding: 12px;
    border-radius: 50%;
    fill: var(--grey);
    background-color: var(--h1-color);
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.names-icon-link:focus,
.names-icon-link:hover{
    border-radius: 50%;
    fill:var(--h1-color);
    background-color: var(--logo-text-color);
    color: var(--logo-text-color);
    border:var(--logo-text-color);
    }

.names-icon{
    height: 44px;
    margin-right: 10px;
    }

.names-icon:hover{
    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    fill:var(--h1-color);
    background-color: var(--logo-text-color);
    color: var(--logo-text-color);
    }

.footer-section{
    display: flex;
    }

.footer-container{
    display: flex;

    padding-top: 60px;
    padding-right: 70px;
    padding-bottom: 60px;
    }

.footer-address-container{
    width: 231px;
    
    margin-right: 70px;
    }

.footer-adress{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    }

.footer-social-networks{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--h1-color);
    padding-top: 12px;
    }
    
 :focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    }

.footer-icon{
    width: 44px;
    height: 44px;

    margin-right: 10px;
    }

.header-contacts-container{
    margin-left: 305px;
    }

.team-member{
    width: 270px;
    height: 428px;
    
    border-radius: 0 0 4px 4px ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background:var(--background-color);
    }

.team-member:hover{
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

.footer-icons-list{
    display: flex;
    
    margin: 0;
    padding: 0px;
    padding-top: 20px;
    
    list-style: none;   
    }

.footer-icon-link{
    display: block;

    width: 44px;
    height: 44px;
    
    padding: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    fill:var(--h1-color);
    border-radius: 50%;
    background-size: 20px;
    background-position: center;
    background-color:rgba(255, 255, 255, 0.1);;
    box-sizing: border-box;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-icon-link:focus,
.footer-icon-link:hover{
    background-color:var(--logo-text-color);
    }


.link-buttons:hover{
    color: var(--button-color);
    }

.backdrop{
    position: fixed;

    width:100%;
    height: 100%;

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition-property: opacity;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.backdrop.is-hidden{
    opacity: 0;
    pointer-events:none;
    }

.backdrop.is-hidden .modal{
    transform: opacity 0.3;
    }

.modal{
    position: relative;

    width: 528px;
    height: 581px;

    top: 50%;
    left: 50%;
    background-color: var(--h1-color);
    transform: translate(-50%, -50%);
    }

.modal-button-close{
    position: absolute;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    padding: 0%;
    padding-top: 3px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--h1-color);
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .modal-button-close:hover{
       background-color:rgba(0, 0, 0, 0.06); 
    }